footer {
  background: #0f303f;

  & .footer {
    @media screen and (max-width: 533px) {
      display: none;
    }

    & .footer-content {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      align-items: center;

      @media screen and (max-width: 767px) {
        padding: 15px 0;
      }

      & .footer-info {
        display: flex;
        justify-content: start;
        align-items: center;

        & .footer-logo {
          margin-right: 20px;
        }

        & .footer-text {
          display: flex;
          justify-content: space-between;
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          color: #2c5871;

          @media screen and (max-width: 991px) {
            font-size: 13px;
          }
          @media screen and (max-width: 767px) {
            font-size: 11px;
            padding-top: 10px;
          }

          & p {
            margin-bottom: 0;
            padding: 0 7px;

            &:nth-child(2) {
              border-right: 2px solid #2c5871;
            }
          }
        }
      }

      & .footer-icon {
        display: flex;
        justify-content: end;
        margin: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }

        &-item {
          margin: 0 5px;
          padding-top: 7px;
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 2px solid #ffffff;
          background: transparent;
          cursor: pointer;

          &:hover {
            border: 2px solid #2ab8c5;
            background: #2ab8c5;

            & .fab {
              color: #2c5871;
            }
          }

          @media screen and (max-width: 992px) {
            background: #2c5871;
            border: 2px solid #2c5871;
          }

          & .fab {
            font-size: 16px;
            color: #ffffff;

            @media screen and (max-width: 992px) {
              color: #0f303f;
            }
          }
        }
      }
    }
  }

  & .footer-mobile {
    display: none;

    @media screen and (max-width: 533px) {
      display: block;
    }

    &-up {
      padding: 20px 0;

      &-info {
        display: flex;
        justify-content: space-between;

        & .footer-languages {
          padding: 5px 10px;
          border: 1px solid #2d556c;
          border-radius: 15px;
          appearance: none;
          width: 115px;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          background: url('../../assets/img/ar.png') no-repeat right, #092430;
          background-size: contain;

          &:focus {
            outline: none;
          }

          &:before {
            border-color: #fff;
            border-style: solid;
            border-width: 0 2px 2px 0;
            content: "";
            height: 8px;
            position: absolute;
            right: 11px;
            top: 8px;
            z-index: 3;
            transform: rotate(45deg);
            width: 100px!important;
          }

          &:after {
            content: '';
            background-color: #2d556c;
            border-radius: 0 5px 5px 0;
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 32px;
          }
        }
      }

      &-rools {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        color: #2c5871;

        & p {
          margin: 0;
          padding: 0 7px;

          &:nth-child(1) {
            border-right: 2px solid #2c5871;
          }
        }
      }

    }

    &-down {
      padding: 15px 0;
      background: #092430;
      color: #2c5871;

      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
          margin-bottom: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          color: #2c5871;
        }

        &-icon {
          display: flex;
          justify-content: end;

          &-item {
            margin: 0 5px;
            padding-top: 7px;
            text-align: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #2c5871;
            border: 2px solid #2c5871;

            &:hover {
              border: 2px solid #2ab8c5;
              background: #2ab8c5;
            }

            & .fab {
              font-size: 16px;
              color: #0f303f;

              &:hover {
                color: #2c5871;
              }
            }
          }
        }
      }
    }
  }
}